src/main/mule/mule-demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2f807fd-0b27-4868-ad62-a9469506ed3d" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="mule-demo-appFlow" doc:id="6d578019-8242-4537-9113-5adf2e4e61e4" >
		<http:listener doc:name="Listener" doc:id="82d8d153-74a9-4744-b766-ca66a4b16ea5" config-ref="HTTP_Listener_config" path="/demoapp"/>
		<logger level="INFO" doc:name="Logger" doc:id="55d2ecb8-4489-4f04-a5d8-a68c24654ba2" message='"Welcome to demo application , current time is  :  " ++ now ()'/>
		<set-payload value='#["Welcome to demo application , current time is  :  " ++ now ()]' doc:name="Set Payload" doc:id="70b69b9b-4ece-4731-b6a6-9d80156a7760" />
	</flow>
</mule>
